* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    width: 80vw;
    height: 100vh;
    margin: auto;
}

textarea {
    width: 100%;
    height: 30%;
    margin: 50px 0;
    resize: none;
    font-size: 2rem;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: cadetblue;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    width: 55px;
    height: 55px;
    margin: 3px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 5%;
    border-radius: 4px;
}

.keyboard__key--extra-wide {
    width: 25%;
    max-width: 500px;
    border-radius: 4px;
}

.keyboard__key--activatable::after {
    position: absolute;
    content: '';
    top: 10px;
    right: 10px;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}
